*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body{
    background:#e9ebee;
}
.header{
    background:#3b5998;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 30px;
}
.logo{
    font-size:26px;
    font-weight:bold;
}
.search-form{
    display:flex;
    flex-direction:column;
}
.search-form label{
    font-size:12px;
}

.search-form input{
    padding:6px;
    width:300px;
    border:none;
    border-radius:4px;
}

.nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
    font-weight:bold;
}
.container{
    width:1200px;
    margin:20px auto;
    display:flex;
    gap:25px;
    align-items: flex-start;
}
.section-title{
    background:#e5e7ea;
    padding:10px 15px;
    font-weight:bold;
    color:#555;
    border-radius:6px 6px 0 0;
    border:1px solid #d0d3d8;
}

.work-block{
    background:white;
    padding:15px;
    border:1px solid #d0d3d8;
    border-top:none;
    border-radius:0 0 8px 8px;
}

.work-item{
    display:flex;
    gap:15px;
    margin-bottom:15px;
    align-items:flex-start;
}

.work-item img{
    width:55px;
}

.sidebar-left{
    width:250px;
    background:white;
    padding:15px;
    border-radius:8px;
}

.profile-pic{
    width:100%;
    border-radius:8px;
}

.menu{
    display:flex;
    flex-direction:column;
    margin-top:15px;
}

.menu a{
    padding:8px;
    text-decoration:none;
    color:black;
    border-bottom:1px solid #ddd;
}
.content{
    flex:1;
    background:white;
    padding:20px;
    border-radius:8px;
}

.bio{
    color:gray;
    margin:10px 0 15px 0;
    font-size:15px;
}

.photos{
    display:flex;
    gap:10px;
    margin:15px 0;
}

.photos img{
    width:90px;
    height:70px;
    object-fit:cover;
    border-radius:4px;
}

.work{
    margin-top:20px;
    
}

.work-item{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top:15px;
}

.work-item img{
    width:50px;
}
.sidebar-right{
    width:260px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;  /* ең жоғарыға шығарады */
    align-self:flex-start;
    margin-top:0;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
    border:1px solid #ddd;
}

.ad{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.ad img{
    width:80px;
    height:60px;
    object-fit:cover;
}
.footer{
    text-align:center;
    padding:20px;
    color:gray;
}
