body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:#ffffff;
}
h1{
    text-align:center;
    font-size: 50px;
    color:cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
app-root {
  display: block;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 40px;
}
.card {
  background: white;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}
.categories {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 50px 0;
}

.categories button {
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  outline:none;
  box-shadow: none;
  background: #e5e5e5;
  cursor: pointer;
  transition: all 0.2s ease;
}
.categories button:hover {
  background: #d4d4d4;
}
.categories button.active {
  background: #dcdcdc;
}