.products {
  display: flex;
  gap: 40px;
  flex-wrap:wrap;
  padding:30px 0;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
}
.empty {
  text-align: center;
  margin-top: 60px;
  font-size: 22px;
  font-weight: 600;
  color: #555;
}